@using InfoTrackScraper.Models

@{
	ViewBag.Title = "Search Page";
}
@model SearchViewModel

<div class="IndexPage">
	<span style="margin: 10px;">@Model.SearchText</span>
	@using(Html.BeginForm("GSearch", "Home", FormMethod.Post)) {
		<div class="SearchArea">
			<div class="SearchBox">
				@Html.LabelFor(model => model.SearchText)
				@Html.TextBoxFor(model => model.SearchText)
				<input id="SearchButton" type="submit" value="Search">
			</div>
			<div class="SearchCheckBox">
				@Html.LabelFor(model => model.DefaultSearchIsChecked)
				@Html.CheckBoxFor(model => model.DefaultSearchIsChecked)
			</div>
		</div>
	}
	<br />
	<div style="border:solid 10px black">
	</div>
	<div class="ResultsArea">
		<div class="CurrentResults">
			@if(Model.CurrentResult == null){
				<span class="NoResultFoundText"></span>
			}
			else if(Model.CurrentResult > 100) {
				<span class="NoResultFoundText">The current search returned a result greater than 100.</span>
			}
			else {
				<span class="ResultFoundText">The Search returned a value of: @Model.CurrentResult</span>
			}
		</div>
		<div class="PrevResultsTable">
			@Html.Partial("_SearchResults", Model.SearchResults)
		</div>
	</div>
</div>

<div style="margin:50px; border: 2px solid black;">
	@Html.Raw(Model.WebResponse)
</div>